<div class="card m-2" style="width: 18rem">
  <div class="card-header">
    <span class="badge bg-success">
      {{ tag }}
    </span>
  </div>

  <div class="card-body">
    <h3 class="card-text text-primary">{{ title }}</h3>

    <p *ngIf="body" class="card-text">{{ body }}</p>

    <ng-content></ng-content>

    <div class="card-footer">
      <div class="row">
        <span class="text-muted m-1"><strong>id: </strong> {{ id }}</span>
        <span class="text-muted m-1"
          ><strong>userId: </strong> {{ userId }}</span
        >
      </div>
    </div>
  </div>
</div>
