<app-container>
  <div class="alert alert-primary">
    {{ filter.value | uppercase }}
  </div>

  <select class="form-select form-select-lg" [formControl]="filter">
    <option *ngFor="let s of select$ | async" [value]="s.value">
      {{ s.name }}
    </option>
  </select>
</app-container>


<div *ngIf="all$ | async as all">
  <app-container>
    <div *ngFor="let item of all">
      <app-card
        *ngIf="filter.value === 'posts'"
        [tag]="filter.value"
        [title]="item.title"
        [body]="item.body"
        [userId]="item.userId"
        [id]="item.id"
      ></app-card>

      <app-card
        *ngIf="filter.value === 'todos'"
        [tag]="filter.value"
        [title]="item.title"
        [userId]="item.userId"
        [id]="item.id"
      ></app-card>

      <app-card
        *ngIf="filter.value === 'users'"
        [tag]="filter.value"
        [title]="item.name"
        [userId]="item.userId"
        [id]="item.id"
      >
        <a
          *ngIf="item.email"
          class="card-text"
          href="mailto:{{ item.email }}"
        >
          {{ item.email }}
          <hr />
        </a>
        <a *ngIf="item.website" href="#" class="card-text text-start">
          {{ item.website }}
          <hr />
        </a>
        <a *ngIf="item.phone" href="#" class="card-text text-start">
          {{ item.phone }}
          <hr />
        </a>
      </app-card>
    </div>
  </app-container>
</div>
