<ng-container *ngIf="posts$ | async as posts; else loading;" >
  <app-container> 
    <ng-container *ngFor="let post of posts">
      <app-card
      [routerLink]="['/posts', post.id]"
      [tag]="'posts'"
      [title]="post.title"
      [body]="post.body"
      [userId]="post.userId"
      [id]="post.id"
      ></app-card>
    </ng-container>
  </app-container>
</ng-container>

<ng-template #loading>
  <div class="d-flex justify-content-center" >
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
      <span class="sr-only"></span>
    </div>
  </div>
</ng-template>    


