<!-- <app-filtro-reativo></app-filtro-reativo> -->
<nav class="navbar  fixed-top  navbar-dark bg-dark" >
  <a  routerLink="/" class="navbar-brand p-2" >MyFirst App</a>
  <a  routerLink="/" class="navbar-brand p-2" >Home</a>
</nav>

<div class="container-fluid mt-5 pt-5 w-75">
  <div class="row">
    <h1>Exemplos</h1>
  </div>
 
  <div class="row">
    <div class="col-sm-3">
      <button class="btn btn-success" routerLink="/filtro-reativo">Filtro Reativo</button>

    </div>
  </div>
</div>
<router-outlet></router-outlet>