<!-- <app-filtro-reativo></app-filtro-reativo> -->
<nav class="navbar fixed-top navbar-dark bg-dark">
  <a routerLink="/" class="navbar-brand p-2">MyFirst App</a>
  <a routerLink="/" class="navbar-brand p-2">Home</a>
</nav>

<app-container>
  <div class="row">
    <h1>Exemplos</h1>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <app-button routerLink="/filtro-reativo"> Filtro Reativo</app-button>
    </div>
    <div class="col-sm-3">
      <app-button class="btn-info" routerLink="/filtro-reativo">
        Filtro Reativo
      </app-button>
    </div>
  </div>
</app-container>

<router-outlet></router-outlet>
