<div class="col-md-6 w-75 p-2 mt-5 container">
  <h1 class="text-danger">404</h1>
  <h2>UH OH! You're lost.</h2>
  <p>The page you are looking for does not exist.
    How you got here is a mystery. But you can click the button below
    to go back to the homepage.
  </p>
  <button class="btn btn-info">HOME</button>
</div>

<app-container>
  <div *appFor="let item of [1,2,3]; 
    let i = index;
    let isFirst = first;
    let isLast = last;
    let isEven = even;
    let isOdd = odd;
    let size = count;
  ">
  <p>This is item: {{ item || '"no content"' }}</p>
    <pre>
      Index: {{ i }}
      First: {{ isFirst }}
      Last: {{ isLast }}
      Even: {{ isEven }}
      Odd: {{ isOdd }}
      Count: {{ size }}
    </pre>
  </div> 
</app-container>