<app-container>
  <form [formGroup]="form">
      <div class="row">
        <div class="col-5">
          <label for="name">name:</label>
          <input appFormStatus invalidBorder="5px dashed orange" type="text" class="form-control" formControlName="name" placeholder="name">
          <div *ngIf="hasError('name','required')">
            <span class="alert-danger"> nome invalido</span>
          </div>
          <div *ngIf="hasError('name','minlength')">
            <span class="alert-danger"> nome pequeno</span>
          </div>
        </div>
        <div class="col-5">
          <label for="href">href:</label>
          <input appFormStatus type="url" class="form-control" formControlName="href" placeholder="url">
          <div *ngIf="hasError('href','url')">
            <span class="alert-danger"> Url invalida</span>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</app-container>
